.user-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 0 20px;
    gap: 20px;
    height: 100%;
    width: 100%;
}

.user-container>* {
    width: 100%;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.user-chart {}

input.active {
    border: 1px solid green;
    transition: 0.4s ease;
}