* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.products-container {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
    gap: 10px;
}

.product {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 12px;
    height: 300px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 4px black;
    text-align: center;
}

.product__name {}

.product__price {}

.product__img {
    height: 50%;
    width: 100%;
    /* border-radius: 50%; */
    object-fit: contain;
}

.product__OFF {
    color: Red;
}

.product-addtocart {
    position: relative;
    width: 100%;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0;
    padding: 12px;
}

/* Header */
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
    top: 0;
    height: 5rem;
    width: 100%;
    border-bottom: 1px solid violet;
    box-shadow: 0 0 4px violet;
}

.header__actions {
    display: flex;
    justify-content: space-around;
}

.header__actions>* {
    margin-right: 10px;
}

.header__paths {
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
}

.header__paths>* {
    margin-left: 10px;
}