.newProduct-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.newProduct-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    gap: 100px;
}

.newProduct-wrapper input {
    padding: 12px 12px;
    border-radius: 10px;
}

.submit-product {
    padding : 8px 12px;
    border: none;
    color: white;
    background-color: green;
    cursor: pointer;
    width: 200px;
    border-radius: 10px;
}